* { 
  box-sizing: border-box;

}


main{ 
  border-top: solid black 1px;
  background-color: rgb(236, 236, 236);
}

nav { 
  background-color: rgb(255, 255, 255);
}

.greeting { 
  background-color: rgb(39, 39, 39);
}

.greeting p { 
  color: white;
  font-family:  "Quicksand", sans-serif;
  font-size: 25px;
}

.logo { 
  height: 10rem;
}

.cart-container{
  margin-right: 100px;
}

.carrito-logo { 
  height: 2rem;
}

.greeting{
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  padding: 20px;
}


.navbar, .navbar-nav, .navbar-link {
  font-family: "Quicksand", sans-serif;
  font-size: 30px; 
  margin-left: 30px;
}

.nav-item{
  margin-right: 40px;

}


.card{ 
  margin: 7px;
  max-width: 302px; 
}

.card-body { 
  border-top: rgb(190, 190, 190) solid 1px; 
}


.card-title, .card-autor, .card-text, .btn-mas  { 
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif; 

}

.card-title { 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-autor {
  margin-bottom: 10px;
  margin-top: -15px;
}

.card-text{ 
  font-size: 20px;
  font-weight: bold;
}

.btn-mas {
  background-color: rgb(0, 0, 0);
  border: solid black 1px; 
  width: 170px; 
  margin-left: 46px;
  padding: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.detail-container{ 
  display: flex  
}

.product-name h1{
  font-size: 30px;
  font-family: "Quicksand", sans-serif; 
  background-color: black;
  padding: 30px;
  color: white;
}

.detail-container img{ 
  height: 600px;
}

.description-container{ 

  font-family: "Quicksand", sans-serif; 
  font-size: 1,5rem;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-right:150px;
}

.counter-container { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container .btn-ir {
  background-color: rgb(34, 34, 34);
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif; 
 
}

.btn-red{
  color: white;
  background-color: rgb(194, 77, 31);
  width: 40px;
  height:40px;
  margin: 12px;
  border-radius: 10px;
  
}

.btn-add-cart { 
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0); 
  padding: 10px;
  border-radius: 10px;
}

.incart-item {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size:20px;
  background-color: rgb(170, 170, 170);
  margin: 40px;
}

.incart-item img { 
  max-height:150px;
}

.cart-container h2{ 
  background-color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 20px;
  margin: 20px;
}



.form-tittle {
  background-color: black;
  color: white;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
}

.form-container .form-item{ 
  width: 500px;   
}
 
form { 
  font-family: "Quicksand", sans-serif;
  margin: 30px;
  display: flex;
}

.form-item {
  padding: 10px;
}

form img { 
  height: 290px;
  width: 1000px;
  margin-left: 200px;
}

.emptycart-msg{ 
  padding: 200px;
}


.emptycart-container{
  margin: 150px;
  display: flex;
}

.container-btn-fin{
  display: flex; 
  justify-content: center;
  margin-top: 20px;
}

.btn-fin{ 
  margin: 10px;
}

.total{ 
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.nosotros-page h2{
  background-color: black;
  padding: 30px;
  color: white;
  font-family: "Quicksand", sans-serif;
  
}

.nosotros-container{ 
  padding: 50px;
}

.nosotros-container p { 
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.ebooks h2{ 
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
 }

.ebooks-container{ 
  font-family: "Quicksand", sans-serif; 
  padding: 40px; 
  text-align: center;
  margin-top: 40px;
}

.ebooks-container p { 
  font-size: 30px;
}


.ebooks-btn{ 
  width: 300px; 
  background-color: rgb(43, 43, 43);
  text-decoration: none; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.ebook-btn-container{ 
  display: flex;
  justify-content: center; 
  align-items: center;
}


@media (max-width: 1000px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description-container {
    margin-top: 1rem;
  }

  .counter-container {
    margin-top: 1rem;
  }
  form img { 
    height: 290px;
    width: 1000px;
    margin-left: 50px;
    display: none;
  }

  .emptycart-img { 
    display: none;
  }
  
}