* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: #e6e5df;
}
.navContainer { 
  display: flex;
  align-items: center;

}

.navlink { 
  padding: 20px;
  color: rgb(255, 255, 255);
}

.logo { 
  height: 15rem;
}

.carrito-logo { 
  height: 2rem;
}